<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>{{ attribute_display_names["artists"] }}</th>
        <th>{{ attribute_display_names["title"] }}</th>
        <th>{{ attribute_display_names["duration_ms"] }}</th>
        <th>{{ attribute_display_names["release_year"] }}</th>
        <th>{{ attribute_display_names["popularity"] }}</th>
        <th>{{ attribute_display_names["genres"] }}</th>

        <!-- Audio Features -->
        <th>{{ attribute_display_names["tempo"] }}</th>
        <th>{{ attribute_display_names["key"] }}</th>
        <th>{{ attribute_display_names["mode"] }}</th>
        <th>{{ attribute_display_names["key_signature"] }}</th>
        <th>{{ attribute_display_names["loudness"] }}</th>
        <th>{{ attribute_display_names["danceability"] }}</th>
        <th>{{ attribute_display_names["energy"] }}</th>
        <th>{{ attribute_display_names["valence"] }}</th>
        <th>{{ attribute_display_names["instrumentalness"] }}</th>
        <th>{{ attribute_display_names["acousticness"] }}</th>
        <th>{{ attribute_display_names["liveness"] }}</th>
        <th>{{ attribute_display_names["speechiness"] }}</th>
    </tr>
    {% for track in tracks %}
    <tr>
        <td>{{ loop.index }}</td>

        <td>{{ track.get_artists_string() }}</td>
        <td>{{ track.title }}</td>
        <td>{{ track.get_duration_string() }}</td>
        <td>{{ track.release_year }}</td>
        <td>{{ track.popularity }}</td>
        <td>{{ track.get_genres_string() }}</td>

        <!-- Audio Features -->
        <td>{{ track.get_tempo_string() }}</td>
        <td>{{ track.get_key_string() }}</td>
        <td>{{ track.get_mode_string() }}</td>
        <td>{{ track.key_signature }}</td>
        <td>{{ track.get_loudness_string() }}</td>
        <td>{{ track.danceability }}</td>
        <td>{{ track.energy }}</td>
        <td>{{ track.valence }}</td>
        <td>{{ track.instrumentalness }}</td>
        <td>{{ track.acousticness }}</td>
        <td>{{ track.liveness }}</td>
        <td>{{ track.speechiness }}</td>
    </tr>
    {% endfor %}
</table>
