<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- TODO show status code separately, such as Message -->
    <title>Spotify Playlist Analyzer - Error {{ error.status_code }} - {{ error.title }}</title>
</head>
<body>
    <div class="container">
        <h1>Error {{ error.status_code }} - {{ error.title }}</h1>
        <br>

        <h3>Message: {{ error.message }}</h3>
        <br>

        {% if error.traceback_items|length >= 1 %}
            <h3>Traceback</h3>
            <table class="table table-bordered">
                <tr>
                    <th>Function</th>
                    <th>Code</th>
                    <th>File</th>
                    <th>Line</th>
                </tr>
                {% for traceback_item in error.traceback_items %}
                    <tr>
                        <td>{{ traceback_item[2] }}</td>
                        <td>{{ traceback_item[3] }}</td>
                        <td>{{ traceback_item[0] }}</td>
                        <td>{{ traceback_item[1] }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
</body>
</html>
