<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Spotify Playlist Analyzer - Playlist - {{ playlist.name }}</title>
</head>
<body>
    <div class="container">
        <h1>Playlist: {{ playlist.name }}</h1>
        <br>

        <h2>General Info</h2>
        <h4># Tracks: {{ playlist.tracks | length }}</h4>
        <h4>Total Duration: {{ playlist.get_total_duration_string() }}</h4>
        <h4>Average Duration: {{ playlist.get_average_duration_string() }}</h4>
        <h4>Average Release Year: {{ playlist.get_average_release_year_string() }}</h4>
        <h4>Average Tempo (BPM): {{ playlist.get_average_tempo_string() }}</h4>
        <br>

        <h2>Attribute Distribution</h2>
        <form action="{{ url_for('get_attribute_distribution_of_playlist', playlist_id=playlist.id) }}" method="GET">
            <label for="attribute">Attribute</label>
            <select class="form-control" id="attribute" name="attribute">
                <option value="release_year">Release Year</option>
                <option value="tempo">Tempo</option>
                <option value="key">Key</option>
                <option value="mode">Mode</option>
            </select>
            <br>
            <button class="btn btn-secondary" type="submit">Show</button>
        </form>
        <br>

        <h2>Tracks</h2>

        <h4>Sort Tracks by</h4>
        <form action="{{ url_for('get_playlist_by_id', playlist_id=playlist.id) }}" method="GET">
            <select class="form-control" name="sort_by">
                <option value="none" {% if sort_by == "none" %} selected {% endif %}>
                    None
                </option>
                <option value="artists" {% if sort_by == "artists" %} selected {% endif %}>
                    Artists
                </option>
                <option value="title"{% if sort_by == "title" %} selected {% endif %}>
                    Title
                </option>
                <option value="duration_ms" {% if sort_by == "duration_ms" %} selected {% endif %}>
                    Duration
                </option>
                <option value="release_year" {% if sort_by == "release_year" %} selected {% endif %}>
                    Release Year
                </option>
                <option value="tempo" {% if sort_by == "tempo" %} selected {% endif %}>
                    Tempo
                </option>
                <option value="key" {% if sort_by == "key" %} selected {% endif %}>
                    Key
                </option>
                <option value="mode" {% if sort_by == "mode" %} selected {% endif %}>
                    Mode
                </option>
                <option value="key_signature" {% if sort_by == "key_signature" %} selected {% endif %}>
                    Key Signature
                </option>
                <option value="camelot" {% if sort_by == "camelot" %} selected {% endif %}>
                    Camelot
                </option>
                <option value="loudness" {% if sort_by == "loudness" %} selected {% endif %}>
                    Loudness
                </option>
                <option value="genres" {% if sort_by == "genres" %} selected {% endif %}>
                    Genres
                </option>
            </select>
            <select class="form-control" id="order" name="order">
                <option value="ascending" {% if order == "ascending" %} selected {% endif %}>
                    Ascending
                </option>
                <option value="descending" {% if order == "descending" %} selected {% endif %}>
                    Descending
                </option>
            </select>
            <button class="btn btn-secondary" type="submit">Sort</button>
        </form>
        <br>

        <h4>Filter Tracks by</h4>
        <form action="{{ url_for('get_playlist_by_id', playlist_id=playlist.id) }}" method="GET">
            <div>
                <input type="radio" id="artists" name="filter_by" value="artists"
                       {% if filter_by == "artists" %} checked {% endif %}>
                <label for="artists">Artists</label>
                <label for="artists_substring">contain</label>
                <input type="text" id="artists_substring" name="artists_substring" value="{{ artists_substring }}">
            </div>
            <div>
                <input type="radio" id="title" name="filter_by" value="title"
                       {% if filter_by == "title" %} checked {% endif %}>
                <label for="title">Title</label>
                <label for="title_substring">contains</label>
                <input type="text" id="title_substring" name="title_substring" value="{{ title_substring }}">
            </div>
            <div>
                <input type="radio" id="release_year" name="filter_by" value="release_year"
                       {% if filter_by == "release_year" %} checked {% endif %}>
                <label for="release_year">Release Year</label>
                <label for="min_release_year">from</label>
                <input type="number" id="min_release_year" name="min_release_year" value="{{ min_release_year }}">
                <label for="max_release_year">to</label>
                <input type="number" id="max_release_year" name="max_release_year" value="{{ max_release_year }}">
            </div>
            <div>
                <input type="radio" id="tempo" name="filter_by" value="tempo"
                       {% if filter_by == "tempo" %} checked {% endif %}>
                <label for="tempo">Tempo (BPM)</label>
                <label for="min_tempo">from</label>
                <input type="number" id="min_tempo" name="min_tempo" value="{{ min_tempo }}">
                <label for="max_tempo">to</label>
                <input type="number" id="max_tempo" name="max_tempo" value="{{ max_tempo }}">
            </div>
            <div>
                <input type="radio" id="key" name="filter_by" value="key"
                       {% if filter_by == "key" %} checked {% endif %}>
                <label for="key">Key</label>
                <label for="expected_key">is</label>
                <select class="form-control" id="expected_key" name="expected_key">
                    <option value="C" {% if expected_key == "C" %} selected {% endif %}>C</option>
                    <option value="C♯/D♭" {% if expected_key == "C♯/D♭" %} selected {% endif %}>C♯/D♭</option>
                    <option value="D" {% if expected_key == "D" %} selected {% endif %}>D</option>
                    <option value="D♯/E♭" {% if expected_key == "D♯/E♭" %} selected {% endif %}>D♯/E♭</option>
                    <option value="E" {% if expected_key == "E" %} selected {% endif %}>E</option>
                    <option value="F" {% if expected_key == "F" %} selected {% endif %}>F</option>
                    <option value="F♯/G♭" {% if expected_key == "F♯/G♭" %} selected {% endif %}>F♯/G♭</option>
                    <option value="G" {% if expected_key == "G" %} selected {% endif %}>G</option>
                    <option value="G♯/A♭" {% if expected_key == "G♯/A♭" %} selected {% endif %}>G♯/A♭</option>
                    <option value="A" {% if expected_key == "A" %} selected {% endif %}>A</option>
                    <option value="A♯/B♭" {% if expected_key == "A♯/B♭" %} selected {% endif %}>A♯/B♭</option>
                    <option value="B" {% if expected_key == "B" %} selected {% endif %}>B</option>
                </select>
            </div>
            <div>
                <input type="radio" id="mode" name="filter_by" value="mode"
                       {% if filter_by == "mode" %} checked {% endif %}>
                <label for="mode">Mode</label>
                <label for="expected_mode">is</label>
                <select class="form-control" id="expected_mode" name="expected_mode">
                    <option value="Major" {% if expected_mode == "Major" %} selected {% endif %}>
                        Major
                    </option>
                    <option value="Minor" {% if expected_mode == "Minor" %} selected {% endif %}>
                        Minor
                    </option>
                </select>
            </div>
            <div>
                <input type="radio" id="key_signature" name="filter_by" value="key_signature"
                       {% if filter_by == "key_signature" %} checked {% endif %}>
                <label for="key_signature">Key Signature</label>
                <label for="expected_key_signature">is</label>
                <select class="form-control" id="expected_key_signature" name="expected_key_signature">
                    <option value="♮" {% if expected_key_signature == "♮" %} selected {% endif %}>♮</option>
                    <option value="1♯" {% if expected_key_signature == "1♯" %} selected {% endif %}>1♯</option>
                    <option value="2♯" {% if expected_key_signature == "2♯" %} selected {% endif %}>2♯</option>
                    <option value="3♯" {% if expected_key_signature == "3♯" %} selected {% endif %}>3♯</option>
                    <option value="4♯" {% if expected_key_signature == "4♯" %} selected {% endif %}>4♯</option>
                    <option value="5♯" {% if expected_key_signature == "5♯" %} selected {% endif %}>5♯</option>
                    <option value="6♯/6♭" {% if expected_key_signature == "6♯/6♭" %} selected {% endif %}>6♯/6♭</option>
                    <option value="5♭" {% if expected_key_signature == "5♭" %} selected {% endif %}>5♭</option>
                    <option value="4♭" {% if expected_key_signature == "4♭" %} selected {% endif %}>4♭</option>
                    <option value="3♭" {% if expected_key_signature == "3♭" %} selected {% endif %}>3♭</option>
                    <option value="2♭" {% if expected_key_signature == "2♭" %} selected {% endif %}>2♭</option>
                    <option value="1♭" {% if expected_key_signature == "1♭" %} selected {% endif %}>1♭</option>
                </select>
            </div>
            <div>
                <input type="radio" id="genres" name="filter_by" value="genres"
                       {% if filter_by == "genres" %} checked {% endif %}>
                <label for="genres">Genres</label>
                <label for="genres_substring">contain</label>
                <input type="text" id="genres_substring" name="genres_substring" value="{{ genres_substring }}">
            </div>
            <button class="btn btn-secondary" type="submit">Filter</button>
        </form>
        <br>

        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Artists</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Release<br>Year</th>
                <th>Tempo<br>(BPM)</th>
                <th>Key</th>
                <th>Mode</th>
                <th>Key<br>Signature</th>
                <th>Camelot</th>
                <th>Loudness<br>(dB)</th>
                <th>Genres</th>
            </tr>
            {% for track in playlist.tracks %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ track.get_artists_string() }}</td>
                    <td>{{ track.title }}</td>
                    <td>{{ track.get_duration_string() }}</td>
                    <td>{{ track.release_year }}</td>
                    <td>{{ track.get_tempo_string() }}</td>
                    <td>{{ track.key }}</td>
                    <td>{{ track.mode }}</td>
                    <td>{{ track.key_signature }}</td>
                    <td>{{ track.camelot }}</td>
                    <td>{{ track.get_loudness_string() }}</td>
                    <td>{{ track.get_genres_string() }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
</body>
</html>
