<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Spotify Playlist Analyzer - Track - {{ track.artists }} - {{ track.title }}</title>
</head>
<body>
    <div class="container">
        <h1>Track: {{ track.get_artists_string() }} - {{ track.title }}</h1>
        <br>

        <h4>Artists: {{ track.get_artists_string() }}</h4>
        <h4>Title: {{ track.title }}</h4>

        <!-- TODO no table, show using h4 (this is as done for General Info in playlist template) -->
        <table class="table table-bordered">
            <tr>
                <th>Artists</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Release<br>Year</th>
                <th>Tempo<br>(BPM)</th>
                <th>Key</th>
                <th>Mode</th>
                <th>Key<br>Signature</th>
                <th>Camelot</th>
                <th>Loudness<br>(dB)</th>
                <th>Genres</th>
            </tr>
            <tr>
                <td>{{ track.get_artists_string() }}</td>
                <td>{{ track.title }}</td>
                <td>{{ track.get_duration_string() }}</td>
                <td>{{ track.release_year }}</td>
                <td>{{ track.get_tempo_string() }}</td>
                <td>{{ track.key }}</td>
                <td>{{ track.mode }}</td>
                <td>{{ track.key_signature }}</td>
                <td>{{ track.camelot }}</td>
                <td>{{ track.get_loudness_string() }}</td>
                <td>{{ track.get_genres_string() }}</td>
            </tr>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
</body>
</html>
