<div>
    <input type="radio" id="artists" name="filter_by" value="artists"
           {% if filter_params["filter_by"] == "artists" %} checked {% endif %}>
    <label for="artists">{{ attribute_display_names["artists"] }}</label>
    <label for="artists_substring">contain</label>
    <input type="text" id="artists_substring" name="artists_substring"
           value="{{ filter_params["artists_substring"] }}">
</div>
<div>
    <input type="radio" id="title" name="filter_by" value="title"
           {% if filter_params["filter_by"] == "title" %} checked {% endif %}>
    <label for="title">{{ attribute_display_names["title"] }}</label>
    <label for="title_substring">contains</label>
    <input type="text" id="title_substring" name="title_substring"
           value="{{ filter_params["title_substring"] }}">
</div>
<div>
    <input type="radio" id="genres" name="filter_by" value="genres"
           {% if filter_params["filter_by"] == "genres" %} checked {% endif %}>
    <label for="genres">{{ attribute_display_names["genres"] }}</label>
    <label for="genres_substring">contain</label>
    <input type="text" id="genres_substring" name="genres_substring"
           value="{{ filter_params["genres_substring"] }}">
</div>
<div>
    <input type="radio" id="super_genres" name="filter_by" value="super_genres"
           {% if filter_params["filter_by"] == "super_genres" %} checked {% endif %}>
    <label for="super_genres">{{ attribute_display_names["super_genres"] }}</label>
    <label for="super_genres_substring">contain</label>
    <input type="text" id="super_genres_substring" name="super_genres_substring"
           value="{{ filter_params["super_genres_substring"] }}">
</div>
<div>
    <input type="radio" id="key" name="filter_by" value="key"
           {% if filter_params["filter_by"] == "key" %} checked {% endif %}>
    <label for="key">{{ attribute_display_names["key"] }}</label>
    <label for="expected_key">is</label>
    <select class="form-control" id="expected_key" name="expected_key">
        {% for key_string in key_strings %}
            <option value="{{ loop.index0 }}"
                    {% if filter_params["expected_key"] == loop.index0 %} selected {% endif %}>
                {{ key_string }}
            </option>
        {% endfor %}
    </select>
</div>
<div>
    <input type="radio" id="mode" name="filter_by" value="mode"
           {% if filter_params["filter_by"] == "mode" %} checked {% endif %}>
    <label for="mode">{{ attribute_display_names["mode"] }}</label>
    <label for="expected_mode">is</label>
    <select class="form-control" id="expected_mode" name="expected_mode">
        {% for mode_string in mode_strings %}
            <option value="{{ loop.index0 }}"
                    {% if filter_params["expected_mode"] == loop.index0 %} selected {% endif %}>
                {{ mode_string }}
            </option>
        {% endfor %}
    </select>
</div>
<div>
    <input type="radio" id="key_and_mode_pair" name="filter_by" value="key_and_mode_pair"
           {% if filter_params["filter_by"] == "key_and_mode_pair" %} checked {% endif %}>
    <label for="key_and_mode_pair">{{ attribute_display_names["key_and_mode_pair"] }}</label>
    <label for="expected_key_and_mode_pair">is</label>
    <select class="form-control" id="expected_key_and_mode_pair" name="expected_key_and_mode_pair">
        {% for key_and_mode_pair_string in key_and_mode_pair_strings %}
            <option value="{{ loop.index0 }}"
                    {% if filter_params["expected_key_and_mode_pair"] == loop.index0 %} selected {% endif %}>
                {{ key_and_mode_pair_string }}
            </option>
        {% endfor %}
    </select>
</div>
<div>
    <input type="radio" id="key_signature" name="filter_by" value="key_signature"
           {% if filter_params["filter_by"] == "key_signature" %} checked {% endif %}>
    <label for="key_signature">{{ attribute_display_names["key_signature"] }}</label>
    <label for="expected_key_signature">is</label>
    <select class="form-control" id="expected_key_signature" name="expected_key_signature">
        {% for key_signature in valid_key_signatures %}
            <option value="{{ key_signature }}"
                    {% if filter_params["expected_key_signature"] == key_signature %} selected {% endif %}>
                {{ key_signature }}
            </option>
        {% endfor %}
    </select>
</div>
{% for attribute in numerical_attributes_for_filter_option %}
    <div>
        <input type="radio" id="{{ attribute }}" name="filter_by" value="{{ attribute }}"
               {% if filter_params["filter_by"] == attribute %} checked {% endif %}>
        <label for="{{ attribute }}">{{ attribute_display_names[attribute] }}</label>
        <label for="min_{{ attribute }}">from</label>
        <input type="number" id="min_{{ attribute }}" name="min_{{ attribute }}"
               value="{{ filter_params["min_" + attribute] }}">
        <label for="max_{{ attribute }}">to</label>
        <input type="number" id="max_{{ attribute }}" name="max_{{ attribute }}"
               value="{{ filter_params["max_" + attribute] }}">
    </div>
{% endfor %}
