<form action="{{ url_for('attribute_distribution_view.get_attribute_distribution_of_playlist', playlist_id=playlist.id) }}" method="GET">
    <label for="attribute">Attribute</label>
    <select class="form-control" id="attribute" name="attribute">
        {% for attribute in valid_attributes_for_attribute_distribution %}
            <option value="{{ attribute }}">
                {{ attribute_display_names[attribute] }}
            </option>
        {% endfor %}
    </select>
    <button class="btn btn-secondary" type="submit">Show</button>
</form>
