<table>
    <tr>
        <td># Tracks:&nbsp;</td>
        <td>{{ playlist.tracks | length }}</td>
    </tr>
    <tr>
        <td>Total {{ attribute_display_names["duration_ms"] }}:&nbsp;</td>
        <td>{{ playlist.statistics.get_total_duration_string() }}</td>
    </tr>
    <tr>
        <td>Average {{ attribute_display_names["duration_ms"] }}:&nbsp;</td>
        <td>{{ playlist.statistics.get_average_duration_string() }}</td>
    </tr>
    <tr>
        <td>Average {{ attribute_display_names["release_year"] }}:&nbsp;</td>
        <td>{{ playlist.statistics.get_average_release_year_string() }}</td>
    </tr>
    <tr>
        <td>Average {{ attribute_display_names["popularity"] }}:&nbsp;</td>
        <td>{{ playlist.statistics.get_average_popularity_string() }}</td>
    </tr>
    <tr>
        <td>Average {{ attribute_display_names["tempo"] }}:&nbsp;</td>
        <td>{{ playlist.statistics.get_average_tempo_string() }}</td>
    </tr>
    <tr>
        <td>Average {{ attribute_display_names["danceability"] }}:&nbsp;</td>
        <td>{{ playlist.statistics.get_average_danceability_string() }}</td>
    </tr>
    <tr>
        <td>Average {{ attribute_display_names["energy"] }}:&nbsp;</td>
        <td>{{ playlist.statistics.get_average_energy_string() }}</td>
    </tr>
    <tr>
        <td>Average {{ attribute_display_names["valence"] }}:&nbsp;</td>
        <td>{{ playlist.statistics.get_average_valence_string() }}</td>
    </tr>
    <tr>
        <td>Average {{ attribute_display_names["instrumentalness"] }}:&nbsp;</td>
        <td>{{ playlist.statistics.get_average_instrumentalness_string() }}</td>
    </tr>
    <tr>
        <td>Average {{ attribute_display_names["acousticness"] }}:&nbsp;</td>
        <td>{{ playlist.statistics.get_average_acousticness_string() }}</td>
    </tr>
    <tr>
        <td>Average {{ attribute_display_names["liveness"] }}:&nbsp;</td>
        <td>{{ playlist.statistics.get_average_liveness_string() }}</td>
    </tr>
    <tr>
        <td>Average {{ attribute_display_names["speechiness"] }}:&nbsp;</td>
        <td>{{ playlist.statistics.get_average_speechiness_string() }}</td>
    </tr>
</table>
