<form action="{{ url_for('playlist_view.get_playlist_by_id', playlist_id=playlist.id) }}" method="GET">
    <select class="form-control" name="sort_by">
        {% for attribute in valid_attributes_for_sort_option %}
            <option value="{{ attribute }}" {% if sort_by == attribute %} selected {% endif %}>
                {{ attribute_display_names[attribute] }}
            </option>
        {% endfor %}
    </select>
    <select class="form-control" name="order">
        <option value="ascending" {% if order == "ascending" %} selected {% endif %}>
            Ascending
        </option>
        <option value="descending" {% if order == "descending" %} selected {% endif %}>
            Descending
        </option>
    </select>
    <button class="btn btn-secondary" type="submit">Sort</button>
</form>