<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Spotify Playlist Analyzer - Compare Playlists</title>
</head>
<body>
    <div class="container">
        <h1>Compare Playlists</h1>

        <form action="{{ url_for('compare_tempo_distribution_of_playlists') }}" method="GET">
            <label class="form-label" for="first_playlist_url">Link to the first Spotify playlist:</label><br>
            <input class="form-control" type="text" id="first_playlist_url" name="first_playlist_url"><br>
            <label class="form-label" for="second_playlist_url">Link to the second Spotify playlist:</label><br>
            <input class="form-control" type="text" id="second_playlist_url" name="second_playlist_url"><br>
            <button class="btn btn-secondary" type="submit">Compare tempo distribution of playlists</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
</body>
</html>
