<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Spotify Playlist Analyzer - Compare Playlists</title>
</head>
<body>
    <div class="container">
        <h1>Compare Playlists</h1>

        <h2>General Info</h2>
        <table class="table table-bordered">
            <tr>
                <th>Attribute</th>
                <th>Playlist 1</th>
                <th>Playlist 2</th>
            </tr>
            <tr>
                <th>ID</th>
                <td>{{ playlist_1.id }}</td>
                <td>{{ playlist_2.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ playlist_1.name }}</td>
                <td>{{ playlist_2.name}}</td>
            </tr>
            <tr>
                <th># Tracks</th>
                <td>{{ playlist_1.tracks | length }}</td>
                <td>{{ playlist_2.tracks | length }}</td>
            </tr>
            <tr>
                <th>Total Duration</th>
                <td>{{ playlist_1.get_total_duration_string() }}</td>
                <td>{{ playlist_2.get_total_duration_string() }}</td>
            </tr>
            <tr>
                <th>Average Duration</th>
                <td>{{ playlist_1.get_average_duration_string() }}</td>
                <td>{{ playlist_2.get_average_duration_string() }}</td>
            </tr>
            <tr>
                <th>Average Year of Release</th>
                <td>{{ playlist_1.get_average_year_of_release_string() }}</td>
                <td>{{ playlist_2.get_average_year_of_release_string() }}</td>
            </tr>
            <tr>
                <th>Average Tempo (BPM)</th>
                <td>{{ playlist_1.get_average_tempo_string() }}</td>
                <td>{{ playlist_2.get_average_tempo_string() }}</td>
            </tr>
        </table>


        <h2>Compare Attribute Distribution</h2>

        <h3>playlist_1.id: {{ playlist_1.id }}</h3>
        <h3>playlist_2.id: {{ playlist_2.id }}</h3>

        <!-- TODO add 'none' option -->
        <form action="{{ url_for('compare_attribute_distribution_of_playlists', playlist_id_1=playlist_1.id, playlist_id_2=playlist_2.id) }}" method="GET">
            <select class="form-control" id="attribute" name="attribute">
                <option value="year_of_release">Year of Release</option>
                <option value="tempo">Tempo</option>
                <option value="key">Key</option>
                <option value="mode">Mode</option>
            </select>
            <button class="btn btn-secondary" type="submit">Compare</button>
        </form>

        <!-- TODO remove all these buttons once dropdown menu is finished -->
        <a href="{{ url_for('compare_year_distribution_of_playlists', playlist_id_1=playlist_1.id, playlist_id_2=playlist_2.id) }}"
           class="btn btn-secondary" role="button">Compare Year of Release Distribution</a>
        <br>
        <br>

        <a href="{{ url_for('compare_tempo_distribution_of_playlists', playlist_id_1=playlist_1.id, playlist_id_2=playlist_2.id) }}"
           class="btn btn-secondary" role="button">Compare Tempo Distribution</a>
        <br>
        <br>

        <a href="{{ url_for('compare_key_distribution_of_playlists', playlist_id_1=playlist_1.id, playlist_id_2=playlist_2.id) }}"
           class="btn btn-secondary" role="button">Compare Key Distribution</a>
        <br>
        <br>

        <a href="{{ url_for('compare_mode_distribution_of_playlists', playlist_id_1=playlist_1.id, playlist_id_2=playlist_2.id) }}"
           class="btn btn-secondary" role="button">Compare Mode Distribution</a>
        <br>
        <br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
</body>
</html>
