<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Spotify Playlist Analyzer - Playlist</title>
</head>
<body>
    <div class="container">
        <h1>Playlist: {{ playlist_id }}</h1>

        <p># Songs: {{ songs | length }}</p>

        <form action="{{ url_for('get_playlist_by_id', playlist_id=playlist_id) }}" method="GET">
            <label for="sort_by">Sort by</label>
            <select class="form-control" id="sort_by" name="sort_by">
                <option value="none" {% if sort_by == "none" %} selected {% endif %}>
                    None
                </option>
                <option value="artists" {% if sort_by == "artists" %} selected {% endif %}>
                    Artists
                </option>
                <option value="title"{% if sort_by == "title" %} selected {% endif %}>
                    Title
                </option>
                <option value="duration" {% if sort_by == "duration" %} selected {% endif %}>
                    Duration
                </option>
                <option value="year_of_release" {% if sort_by == "year_of_release" %} selected {% endif %}>
                    Year of Release
                </option>
                <option value="tempo" {% if sort_by == "tempo" %} selected {% endif %}>
                    Tempo
                </option>
                <option value="key" {% if sort_by == "key" %} selected {% endif %}>
                    Key
                </option>
                <option value="mode" {% if sort_by == "mode" %} selected {% endif %}>
                    Mode
                </option>
                <option value="loudness" {% if sort_by == "loudness" %} selected {% endif %}>
                    Loudness
                </option>
                <option value="genres" {% if sort_by == "genres" %} selected {% endif %}>
                    Genres
                </option>
            </select>
            <select class="form-control" id="order" name="order">
                <option value="ascending" {% if order == "ascending" %} selected {% endif %}>
                    Ascending
                </option>
                <option value="descending" {% if order == "descending" %} selected {% endif %}>
                    Descending
                </option>
            </select>
            <button class="btn btn-secondary" type="submit">Sort</button>
        </form>
        <br>

        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Artists</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Year<br>of Release</th>
                <th>Tempo<br>(BPM)</th>
                <th>Key</th>
                <th>Mode</th>
                <th>Loudness<br>(dB)</th>
                <th>Genres</th>
            </tr>
            {% for i in range(0, songs | length) %}
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ songs[i].artists }}</td>
                <td>{{ songs[i].title }}</td>
                <td>{{ songs[i].duration }}</td>
                <td>{{ songs[i].year_of_release }}</td>
                <td>{{ "%.1f" % songs[i].tempo }}</td>
                <td>{{ songs[i].key }}</td>
                <td>{{ songs[i].mode }}</td>
                <td>{{ "%.1f" % songs[i].loudness }}</td>
                <td>{{ songs[i].genres }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
</body>
</html>
