<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Spotify Playlist Analyzer - Playlist - {{ playlist.name }}</title>
</head>
<body>
    <div class="container">
        <h1>Playlist: {{ playlist.name }}</h1>
        <br>

        <h2>General Info</h2>
        <h4># Tracks: {{ playlist.tracks | length }}</h4>
        <h4>Total Duration: {{ playlist.get_total_duration_string() }}</h4>
        <h4>Average Duration: {{ playlist.get_average_duration_string() }}</h4>
        <h4>Average Tempo: {{ playlist.get_average_tempo_string() }}</h4>
        <br>

        <h2>Key Distribution</h2>
        <table class="table table-bordered">
            <tr>
                <th>Key</th>
                <th>Percentage</th>
            </tr>
            {% set key_to_percentage = playlist.get_key_to_percentage() %}
            {% for key in key_to_percentage %} <!-- TODO clean up: use key, percentage in ...items() -->
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ key_to_percentage[key] }}</td> <!-- TODO format to one digit, add method which returns strings -->
                </tr>
            {% endfor %}
        </table>
        <br>

        <h2>Mode Distribution</h2>
        <table class="table table-bordered">
            <tr>
                <th>Mode</th>
                <th>Percentage</th>
            </tr>
            <!-- TODO get real data from playlist -->
            <tr>
                <td>Major</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Minor</td>
                <td>40</td>
            </tr>
            <tr>
                <td>n/a</td>
                <td>10</td>
            </tr>
        </table>
        <br>

        <h2>Tracks</h2>
        <form action="{{ url_for('get_playlist_by_id', playlist_id=playlist.id) }}" method="GET">
            <label for="sort_by">Sort by</label>
            <select class="form-control" id="sort_by" name="sort_by">
                <option value="none" {% if sort_by == "none" %} selected {% endif %}>
                    None
                </option>
                <option value="artists" {% if sort_by == "artists" %} selected {% endif %}>
                    Artists
                </option>
                <option value="title"{% if sort_by == "title" %} selected {% endif %}>
                    Title
                </option>
                <option value="duration_ms" {% if sort_by == "duration_ms" %} selected {% endif %}>
                    Duration
                </option>
                <option value="year_of_release" {% if sort_by == "year_of_release" %} selected {% endif %}>
                    Year of Release
                </option>
                <option value="tempo" {% if sort_by == "tempo" %} selected {% endif %}>
                    Tempo
                </option>
                <option value="key" {% if sort_by == "key" %} selected {% endif %}>
                    Key
                </option>
                <option value="mode" {% if sort_by == "mode" %} selected {% endif %}>
                    Mode
                </option>
                <option value="camelot" {% if sort_by == "camelot" %} selected {% endif %}>
                    Camelot
                </option>
                <option value="loudness" {% if sort_by == "loudness" %} selected {% endif %}>
                    Loudness
                </option>
                <option value="genres" {% if sort_by == "genres" %} selected {% endif %}>
                    Genres
                </option>
            </select>
            <select class="form-control" id="order" name="order">
                <option value="ascending" {% if order == "ascending" %} selected {% endif %}>
                    Ascending
                </option>
                <option value="descending" {% if order == "descending" %} selected {% endif %}>
                    Descending
                </option>
            </select>
            <button class="btn btn-secondary" type="submit">Sort</button>
        </form>
        <br>

        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Artists</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Year<br>of Release</th>
                <th>Tempo<br>(BPM)</th>
                <th>Key</th>
                <th>Mode</th>
                <th>Camelot</th>
                <th>Loudness<br>(dB)</th>
                <th>Genres</th>
            </tr>
            {% for i in range(0, playlist.tracks | length) %}
                {% set track = playlist.tracks[i] %}
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ ", ".join(track.artists) }}</td>
                    <td>{{ track.title }}</td>
                    <td>{{ track.get_duration_string() }}</td>
                    <td>{{ track.year_of_release }}</td>
                    <td>{{ "%.1f" % track.tempo }}</td>
                    <td>{{ track.key }}</td>
                    <td>{{ track.mode }}</td>
                    <td>{{ track.camelot }}</td>
                    <td>{{ "%.1f" % track.loudness }}</td>
                    <td>{{ ", ".join(track.genres) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
</body>
</html>
